
@using SSIS_FRONT.Models;

@{

    List<Employee> employees = (List<Employee>)ViewData["employees"];
}

<form action="/Department/assignDeptRep" method="post">

    <table class="noborder">
        <tr class="noborder">
            <td class="noborder">Assigned Department Representative: </td>
            <td class="noborder"></td>
        </tr>
    </table>
    <h4 style="text-align:center;">Employee List</h4>
    <br />
    <div>
        <div class="form-group">
            <label for="chooseItem" class="sr-only">Name</label>


            <form id="select">
                @foreach (var employee in employees)
                {
                    <input type="radio" name="cp" value="@employee.Id">
                    <label for="colpoint">@employee.Name</label>
                    <br />
                }
            </form>


        </div>

    </div>
    @*<table class="table table-striped noborder" style="margin: 100px auto 30px;">
            <thead class="noborder">
                <tr class="noborder">
                    <th class="noborder">Name</th>
                </tr>
            </thead>
            <tbody class="noborder">
                @foreach (var employee in employees)
                {
                    <tr class="noborder">

                        <td class="noborder">
                            <input type="radio" id="empname" name="empname" value="empname">
                            <label for="empname">@employee.Name</label>

                        </td>


                    </tr>
                }
                </tbody>

        </table>*@

    <br />
    <br />

    <table class="noborder" style="margin-left:auto; margin-right:auto;">

        <tr class="noborder">

            <td style="text-align:center;" class="noborder">
                <input type="button" id="assign" class="btn btn-primary" value="Assign as Dept Representative" />
            </td>
        </tr>

    </table>


</form>



<script src="~/js/AssignDeptRep.js"></script>