
@{
    ViewData["Title"] = "delegateAuthority";
    List<Employee> employees = (List<Employee>)ViewData["employees"];
}

<h1>Delegate Authority</h1>

<form action="/Department/delegateAuthority" method="post">
    <table class="noborder">
        <tr class="noborder">
            <td class="noborder">Assigned Delegate: </td>
            <td class="noborder"></td>
        </tr>
        <tr class="noborder">
            <td class="noborder">Start Date: </td>
            <td class="noborder"></td>
            <td class="noborder">End Date: </td>
            <td class="noborder"></td>
            <td style="text-align:center;" class="noborder">
                <input type="button" class="btn btn-primary" value="Edit" />
            </td>
            <td style="text-align:center;" class="noborder">
                <input type="button" class="btn btn-primary" value="Delete" />
            </td>
        </tr>
    </table>
    <table class="table table-striped noborder" style="margin: 100px auto 30px;">
        <thead class="noborder">
            <tr class="noborder">
                <th class="noborder">Name</th>
            </tr>
        </thead>
        <tbody class="noborder">
            @foreach (var employee in employees)
            {
                <tr class="noborder">

                    <td class="noborder">
                        <input type="radio" id="empname" name="empname" value="empname">
                        <label for="empname">@employee.Name</label>

                    </td>


                </tr>
            }
        </tbody>

    </table>
    <table class="noborder">
        <tr class="noborder">
            <td class="noborder">Start Date: </td>
            <td class="noborder" ><input type="text" /></td>
            <td class="noborder">End Date: </td>
            <td class="noborder"><input type="text" /></td>
        </tr>
        <tr class="noborder">
            <td style="text-align:center;" class="noborder">
                <input type="submit" class="btn btn-primary" value="Assign as Delegate" />
            </td>
        </tr>

    </table>
</form>
