
@using SSIS_FRONT.Models;

@{   
    List<Product> products = (List<Product>)ViewData["products"];
}
<h4 style="text-align:center;">Requisition Form</h4>
<br />

<form action="/Department/viewRequisitionDeptHead" method="post">

    <table class="noborder">
        <tr class="noborder">
            <td class="noborder">Form ID:</td >
            <td class="noborder"></td>
        </tr>
        
        <tr class="noborder">
            <td class="noborder">Request Date:</td>
            <td class="noborder" id="tdydate"></td>
        </tr>
    </table>

    <table class="table table-striped noborder" style="margin: 100px auto 30px;">
        <thead class="noborder">
            <tr class="noborder">
                <th class="noborder">Description</th>
                <th class="noborder">Quantity</th>
            </tr>
        </thead>
        <tbody class="noborder">
            <tr class="noborder">
                <td class="noborder"></td>
                <td class="noborder"></td>
            </tr>
        </tbody>
    </table>

    

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="item" class="sr-only text-right">Item</label>
        <input type="text" readonly class="form-control-plaintext" id="item" value="                 Item:">

    </div>

    <div class="form-group mx-sm-3 mb-2">
        <label for="chooseItem" class="sr-only">choose item</label>
        <select class="form-control">
            <option>
                -- Choose Item --
            </option>
            @foreach (var product in products)
            {
                <option>
                    @product.Description
                </option>
            }
        </select>
    </div>

    <div class="form-group mb-2">
        <label for="qty" class="sr-only text-right">Qty</label>
        <input type="text" readonly class="form-control-plaintext" id="qty" value="                 Qty:">

    </div>

    <div class="form-group mb-2">
        <label for="qty2" class="sr-only">Qty2</label>
        <input type="number" class="form-control input-sm quantity" />

    </div>

    <div class="form-group mb-2">
        <label for="qty" class="sr-only">Qty</label>
        <input type="text" readonly class="form-control-plaintext" id="qty" value="  ">

    </div>
    <button type="button" class="btn btn-outline-info mb-2">Add</button>
</div>


    <br />
    <br />

    <table style="margin-left:auto; margin-right:auto;" class="noborder">

        <tr class="noborder">
            <td class="noborder">
                <input type="button" class="btn btn-warning" value="Save Draft" />
            </td>
            <td class="noborder">
                <input type="submit" class="btn btn-info" value="Submit" />
            </td>
        </tr>

    </table>

    

</form>
<script>
    var tdydate = new Date();
    var dd = String(tdydate.getDate()).padStart(2, '0');
    var mm = String(tdydate.getMonth() + 1).padStart(2, '0');
    var yyyy = tdydate.getFullYear();

    tdydate = dd + '/' + mm + '/' + yyyy;
    document.getElementById('tdydate').innerHTML = tdydate
</script>

