
@using SSIS_FRONT.Models;

@{   
    List<Product> products = (List<Product>)ViewData["products"];
}
<h4 style="text-align:center;">Requisition Form</h4>
<br />

<form action="/Department/viewRequisition" method="post">

    <table>
        <tr>
            <td>Form ID:</td>
            <td></td>
        </tr>
        
        <tr>
            <td>Request Date:</td>
            <td></td>
        </tr>
    </table>

    <table class="table table-striped" style="margin: 100px auto 30px;">
        <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="item" class="sr-only text-right">Item</label>
        <input type="text" readonly class="form-control-plaintext" id="item" value="                 Item:">

    </div>

    <div class="form-group mx-sm-3 mb-2">
        <label for="chooseItem" class="sr-only">choose item</label>
        <select class="form-control">
            <option>
                -- Choose Item --
            </option>
            @foreach (var product in products)
            {
                <option>
                    @product.Description
                </option>
            }
        </select>
    </div>

    <div class="form-group mb-2">
        <label for="qty" class="sr-only text-right">Qty</label>
        <input type="text" readonly class="form-control-plaintext" id="qty" value="                 Qty:">

    </div>

    <div class="form-group mb-2">
        <label for="qty2" class="sr-only">Qty2</label>
        <input type="number" class="form-control input-sm quantity" />

    </div>

    <div class="form-group mb-2">
        <label for="qty" class="sr-only">Qty</label>
        <input type="text" readonly class="form-control-plaintext" id="qty" value="  ">

    </div>
    <button type="button" class="btn btn-outline-info mb-2">Add</button>
</div>


    <br />
    <br />

    <table style="margin-left:auto;margin-right:auto;">

        <tr>
            <td style="text-align:left;">
                <input type="button" class="btn btn-warning" value="Save Draft" />
            </td>
            <td style="text-align:right;">
                <input type="submit" class="btn btn-info" value="Submit" />
            </td>
        </tr>

    </table>

    @*//<button class="btn btn-default" href="/Department/reqStationery/@requisitions.Id">Save Draft</button>
        //<button class="btn btn-default" href="/Department/viewRequisition/@requisitions.Id">Submit</button>*@

</form>

