
@{
    ViewData["Title"] = "updateCollectionPoint";
    List<CollectionPoint> collectionPoints = (List<CollectionPoint>)ViewData["collectionPoint"];
}

    <form action="/Department/updateCollectionPoint" method="post">
        <div class="form-inline" >
            <div class="form-group mb-2">
                <label for="collectionPoint" class="sr-only text-right">Collection Point</label>
                <input type="text" readonly class="form-control-plaintext" id="collectionPoint" value="Collection Point:">

            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="collectionPoint2" class="sr-only">Collection Point 2</label>
                <input type="text" readonly class="form-control-plaintext" id="collectionPoint2" value=" ">
            </div>
            </div>
            <div class="form-inline" >
                <div class="form-group mx-sm-3 mb-2">
                    <label for="chooseItem" class="sr-only">Select Collection Point</label>
                    <select class="form-control">
                        <option>
                            Select Collection Point
                        </option>
                        @foreach (var collectionPoint in collectionPoints)
                        {
                            <option>
                                @collectionPoint.Location
                            </option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Change</button>
            </div>

    </form>
