
@{
    ViewData["Title"] = "viewRequisitionDeptRep";
    List<Requisition> requisitions = (List<Requisition>)ViewData["requisitions"];
}


<form action="/Department/reqStationery" method="post">

    <div class="form-inline">


        <div class="form-group mx-sm-3 mb-2">
            <label for="search" class="sr-only">search</label>
            <input type="text" class="form-control input-sm" id="search" value="       ">
        </div>

        <button type="button" class="btn btn-outline-primary mb-2">Search</button>

        
        

    </div>

    <h1 style="text-align:center">Requisition Forms</h1>

    <table class="table table-striped noborder" style="margin: 100px auto 30px;">
        <thead class="noborder">
            <tr class="noborder">
                <th class="noborder">Form ID</th>
                <th class="noborder">Requested Date</th>               
                <th class="noborder">Status</th>
                <th class="noborder"> </th>
            </tr>
        </thead>
        <tbody class="noborder">

            @foreach (var req in requisitions)
            {
                <tr class="noborder">
                    <td class="noborder">@req.Id</td>
                    <td class="noborder">@req.CreatedDate</td>
                    <td class="noborder">@req.Status</td>
                    
                    <td class="noborder">
                        <a href="/department/viewRfApprovedDetailDeptRep" class="button btn btn-outline-info">Details</a>
                        @*if status is approved, "/department/viewRfApprovedDetailDeptRep"
                        if status is confirmed, "/department/viewRfConfirmedDetailDeptRep"
                        if status is completed, "/department/viewRfCompletedDetailDeptRep"*@
                        <a href="/viewDisbursement/" class="button btn btn-outline-primary">Disbursement</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>



</form>


