
@{
    ViewData["Title"] = "viewRequisition";
}

<h1>viewRequisition</h1>
<form action="/Department/reqStationery" method="post">
    <input type="submit" value="return to reqStationery" />
</form>
    
