
@{
    ViewData["Title"] = "viewRfApprovedDetailDeptHead";
    List<RequisitionDetail> requisitionDetail = (List<RequisitionDetail>)ViewData["requisitionDetail"];
}

<h1 style="text-align:center">Requisition Form</h1>


    <table class="noborder">
        <tr class="noborder">
            <td class="noborder">Form ID:</td>
            <td class="noborder"></td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Employee Name:</td>
            <td class="noborder"></td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Requested Date:</td>
            <td class="noborder"></td>
        </tr>

        <tr class="noborder">
            <td class="noborder">Status:</td>
            <td class="noborder"></td>
        </tr>
    </table>

    <table class="table table-striped noborder" style="margin: 100px auto 30px;">
        <thead class="noborder">
            <tr class="noborder">
                <th class="noborder">Description</th>
                <th class="noborder">Quantity</th>
            </tr>
        </thead>
        <tbody class="noborder">
            @foreach (var reqDetail in requisitionDetail)
            {
                <tr class="noborder">
                    <td class="noborder"></td>
                    <td class="noborder"></td>
                </tr>
            }

        </tbody>
    </table>


    

    

    
    

