
@*@{
    ViewData["Title"] = "viewDisbursementDeptRep";
}

<h1>Disbursement List</h1>

<form action="/Department/viewDisbBefAck" method="post">
    <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="search" class="sr-only">Disbursement Date:</label>
            <input type="text" readonly class="form-control-plaintext" id="search" value="Disbursement Date:">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="search2" class="sr-only">Disbursement Date2</label>
            <input type="text" class="form-control input-sm" id="search2" value="       ">
        </div>

        <button type="submit" class="btn btn-outline-primary mb-2">Generate</button>
    </div>
</form>*@

@{
    ViewData["Title"] = "viewDisbursementDeptRep";
    string errMsg = (string)ViewData["errMsg"];
}

<h1>Disbursement List</h1>

<span style="color:red;">@errMsg</span>
<div>
    <div>
        <span>Date of Disbursement: </span>
        <input id="date" type="date" />
    </div>
    
    <div></div>
    <button id="submit" class="btn btn-success">Submit</button>
</div>

<script src="~/js/DisbursementDeptRep.js"></script>
