@using SSIS_FRONT.Common;

@if ((string)ViewData["Role"] == CommonConstant.ROLE_NAME[CommonConstant.ROLE.STORE_CLERK])
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="Requisition">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="Disbursement">Disbursement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="GenerateRetrievalForm">Retrieval</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="Catalogue">Catalogue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="PurchaseRequest">PR</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="PurchaseOrder">PO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="DeliveryOrder">DO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="AdjustmentVoucher">Adjustment Voucher</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data Analysis</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Supervisor" asp-action="Forecast">Forecast</a>
            <a class="dropdown-item" asp-controller="Supervisor" asp-action="BarChart">BarChart</a>
        </div>
    </li>
}

@if ((string)ViewData["Role"] == CommonConstant.ROLE_NAME[CommonConstant.ROLE.STORE_SUPERVISOR])
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Store" asp-action="Vouchers">Adjustment Voucher</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="StoreClerk" asp-action="PurchaseRequest">Purchase Request</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data Analysis</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Supervisor" asp-action="Forecast">Forecast</a>
            <a class="dropdown-item" asp-controller="Supervisor" asp-action="BarChart">BarChart</a>
        </div>
    </li>
}

@if ((string)ViewData["Role"] == CommonConstant.ROLE_NAME[CommonConstant.ROLE.STORE_MANAGER])
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Store" asp-action="Vouchers">Adjustment Voucher</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Store" asp-action="Supplier">Supplier</a>
    </li>
}

@if ((string)ViewData["Role"] == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_EMPLOYEE])
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Requisition">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Disbursement">Disbursement</a>
    </li>
}

@if ((string)ViewData["Role"] == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_REPRESENTATIVE])
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Requisition">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Disbursement">Disbursement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="CollectionPoint">Set Collection Point</a>
    </li>
}

@if ((string)ViewData["Role"] == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_HEAD])
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Requisition">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Disbursement">Disbursement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Delegate">Delegate Authority</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="DeptRep">Assign Dept Rep</a>
    </li>
}

@if ((string)ViewData["Role"] == CommonConstant.ROLE_NAME[CommonConstant.ROLE.DEPARTMENT_DELEGATE])
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Requisition">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="Disbursement">Disbursement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Department" asp-action="DeptRep">Assign Dept Rep</a>
    </li>
}
