@if ((string)ViewData["Role"] == "Clerk")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="Requisition">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="Disbursement">Disbursement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="GenerateRetrieveForm">Retrieval</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="Catalogue">Catalogue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="PurchaseRequest">Purchase Request</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="PurchaseOrder">PO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="DeliveryOrder">DO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="AdjustmentVoucher">Adjustment Voucher</a>
    </li>
}

@if ((string)ViewData["Role"] == "Supervisor")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Store" asp-action="Vouchers">Adjustment Voucher</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="StoreClerk" asp-action="PurchaseRequest">Purchase Request</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Supervisor" asp-action="Forecast">Data Analysis</a>
    </li>
}

@if ((string)ViewData["Role"] == "Manager")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Store" asp-action="Vouchers">Adjustment Voucher</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Store" asp-action="Supplier">Supplier</a>
    </li>
}

@if ((string)ViewData["Role"] == "Department Employee ")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Department" asp-action="viewRequisitionEmp">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Department" asp-action="viewDisbursementDeptRep">Disbursement</a>
    </li>
    @*@if ((string)ViewData["Role"] == "EmployeeRep")
        {*@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Department" asp-action="updateCollectionPoint">Set Collection Point</a>
    </li>
    //}
}

@if ((string)ViewData["Role"] == "Department Head ")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Department" asp-action="viewRequisitionDeptHead">Requisition</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Department" asp-action="delegateAuthority">Delegate Authority</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Department" asp-action="assignDeptRep">Assign Dept Representative</a>
    </li>

}
