@{
    ViewData["Title"] = "Delivery Orders";
    List<PurchaseOrder> deliveryOrders = (List<PurchaseOrder>)ViewData["deliveryOrders"];
}
<h1>@ViewData["Title"]</h1>

<div class="input-group">
    <span class="input-group-addon">Search</span>
    <input type="text" id="search" class="form-control" placeholder="Type here" />
</div>

<table id="form" class="table table-striped">
    <thead>
        <tr>
            <th>PO Number</th>
            <th>Order Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in deliveryOrders)
        {
            <tr class="search">
                <td>@d.Id</td>
                <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(d.OrderedDate)</td>
                <td><a class="btn btn-primary" asp-controller="StoreClerk" asp-action="DeliveryOrder" asp-route-id="@d.Id">Update Item Received</a></td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Search.js"></script>