@{
    ViewData["Title"] = "Delivery Orders";
    List<PurchaseOrder> deliveryOrders = (List<PurchaseOrder>)ViewData["deliveryOrders"];
}
<h1>Delivery Orders</h1>

<input type="text" id="Search" placeholder="Search" class="form-control" />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>PO Number</th>
            <th>Order Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in deliveryOrders)
        {
            <tr class="Search">
                <td>@d.Id</td>
                <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(d.OrderedDate)</td>
                <td><a class="btn btn-primary" asp-controller="StoreClerk" asp-action="DeliveryOrderDetail" asp-route-id="@d.Id">Update Item Received</a></td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Search.js"></script>