@{
    ViewData["Title"] = "Retrieve Disbursement List";
    List<Department> departments = (List<Department>)ViewData["departments"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <div>
        <span>Date of Disbursement: </span>
        <input id="date" type="date" />
    </div>
    <div>
        <span>Department: </span>
        <select id="departmentid">
            @foreach (var d in departments)
            {
                <option value="@d.Id">@d.Name</option>
            }
        </select>
    </div>
    <div></div>
    <button id="submit" class="btn btn-success">Submit</button>
</div>

<script src="~/js/Disbursement.js"></script>