
@{
    ViewData["Title"] = "GenerateRetrieveForm";
}

<h1>Generate Retrieve Form</h1>

<form action="/StoreClerk/RetrieveForm" method="post">
    <span>Enter planned date of disbursement: </span>
    <input type="date" name="date"/>
    <button type="submit">Generate</button>
</form>