@{
    ViewData["Title"] = "Generate Retrieval Form";
    string errMsg = (string)ViewData["errMsg"];
}

<h2 class="titlecenter">@ViewData["Title"]</h2>

<span style="color:red;">@errMsg</span>
<form action="/StoreClerk/RetrievalForm" method="post" onsubmit="return dateTransform()">
    <div class="container" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-4">
                <label class="form-control font-weight-bold" style="border: 0;">Enter planned date of disbursement:</label>

            </div>
            <div class="col-3">
                <input type="date" min="1990-05-30" class="form-control" />
                <input type="hidden" id="date" name="date" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <button type="submit" class="btn btn-primary form-control font-weight-bold" style="margin-top:30px">Submit</button>
            </div>
        </div>
    </div>
</form>
    @*<form action="/StoreClerk/RetrieveForm" method="post" onsubmit="return dateTransform()">
            <span>Enter planned date of disbursement: </span>
            <input type="date" />
            <input type="hidden" id="date" name="date" />
            <button type="submit">Generate</button>
        </form>*@


    <script src="~/js/GenerateRetrieval.js"></script>
