@{
    ViewData["Title"] = "Retrieve Disbursement List";
    List<Department> departments = (List<Department>)ViewData["departments"];
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="StoreClerk" asp-action="Disbursement" method="post" onsubmit="return dateTransform()">
    <div>
        <span>Date of Disbursement: </span>
        <input type="date" />
        <input type="hidden" ide="date" name="date" />
    </div>
    <div>
        <span>Department: </span>
        <select class="number">
            @foreach (var d in departments)
            {
                <option value="@d.Id">@d.Name</option>
            }
        </select>
    </div>
    <div></div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>

<script src="~/js/GenerateDisbursement.js"></script>