@{
    ViewData["Title"] = "Purchase Request List";
    Dictionary<long, List<PurchaseRequestDetail>> prDetailsByPr = (Dictionary<long, List<PurchaseRequestDetail>>)ViewData["prDetailsByPr"];
}
<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-controller="StoreClerk" asp-action="GeneratePurchaseRequest">Raise Purchase Request</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Purchase Request No</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<long, List<PurchaseRequestDetail>> kvp in prDetailsByPr)
        {
            <tr class="Search">
                <td>@kvp.Key</td>
                <td>@kvp.Value[0].Status</td>
                <td><a class="btn btn-primary" asp-controller="StoreClerk" asp-action="PurchaseRequest" asp-route-id="@kvp.Key">Details</a></td>
            </tr>
        }
    </tbody>
</table>