@using SSIS_FRONT.Common;

@{
    ViewData["Title"] = "Purchase Request List";
    Dictionary<long, List<PurchaseRequestDetail>> prDetailsByPr = (Dictionary<long, List<PurchaseRequestDetail>>)ViewData["prDetailsByPr"];
    string role = (string)ViewData["Role"];
}

@if (role == CommonConstant.ROLE_NAME[CommonConstant.ROLE.STORE_CLERK])
{
    <div class="container" style="margin-top: 20px;"> 
        <a class="btn btn-primary font-weight-bold" asp-controller="StoreClerk" asp-action="GeneratePurchaseRequest">Raise Purchase Request</a>
    </div>
}
<br />

<h2 class="titlecenter">@ViewData["Title"]</h2>



<table class="table table-striped" style="margin-top:20px">
    <thead>
        <tr>
            <th>Purchase Request No</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<long, List<PurchaseRequestDetail>> kvp in prDetailsByPr)
        {
            <tr class="Search">
                <td>@kvp.Key</td>
                <td>@kvp.Value[0].Status</td>
                <td><a class="btn btn-info" asp-controller="StoreClerk" asp-action="PurchaseRequest" asp-route-id="@kvp.Key">Details</a></td>
            </tr>
        }
    </tbody>
</table>