@{
    ViewData["Title"] = "Purchase Orders";
    List<PurchaseOrder> purchaseOrders = (List<PurchaseOrder>)ViewData["purchaseOrders"];
}
<h1>@ViewData["Title"]</h1>

<input type="text" id="Search" placeholder="Search" class="form-control" />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>PO Number</th>
            <th>Order Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var po in purchaseOrders)
        {
            <tr class="Search">
                <td>@po.Id</td>
                <td>@SSIS_FRONT.Utils.TimeUtil.convertTimestampToyyyyMMdd(po.OrderedDate)</td>
                <td><a class="btn btn-primary" asp-controller="StoreClerk" asp-action="PurchaseOrder" asp-route-id="@po.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Search.js"></script>