
@{
    ViewData["Title"] = "BarChart";
    List<Product> products = (List<Product>)ViewData["Items"];
}

<h1>BarChart</h1>

Code 
<select id="itemCode">
    @foreach(Product product in products)
    {
        <option value="@product.Id">@product.Id</option>
    }
</select>

Year <input type="text" id="year" placeholder="yyyy"/>

<button type="button" id="submit">Submit</button>

<img id="barchart"/>


<script src="~/js/Barchart.js"></script>
