
@{
    ViewData["Title"] = "BarChart";
    List<Product> products = (List<Product>)ViewData["Items"];
}

<h2 class="titlecenter">BarChart</h2>

<div class="container" style="margin-top: 20px;">
    <div class="row justify-content-center">
        <div class="col-1">
            
            <label class="form-control font-weight-bold" style="border: 0;">Code:</label>
        </div>
        <div class="col-4">
            <select id="itemCode" class="form-control">
                @foreach (Product product in products)
                {
                    <option value="@product.Id">@product.Id</option>
                }
            </select>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-1">
           
            <label class="form-control font-weight-bold" style="border: 0;">Year:</label>
        </div>
        <div class="col-2">
            <input type="text" id="year" placeholder="yyyy" class="form-control"/>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 20px;">
        <div class="col-1">
            <button type="button" id="submit" class="btn btn-primary font-weight-bold">Submit</button>
        </div>
    </div>
</div>

@*Code 
<select id="itemCode">
    @foreach(Product product in products)
    {
        <option value="@product.Id">@product.Id</option>
    }
</select>

Year <input type="text" id="year" placeholder="yyyy"/>

<button type="button" id="submit">Submit</button>*@

<div class="container" style="margin-top: 20px;">

    <img id="barchart" />
</div>


<script src="~/js/Barchart.js"></script>
