
@{
    ViewData["Title"] = "Forecast";
    List<Product> products = (List<Product>)ViewData["Items"];
}

<h2 class="titlecenter">Forecast</h2>

<div class="container" style="margin-top: 20px;">
    <div class="row justify-content-start">
        <div class="col-1">

            <label class="form-control font-weight-bold" style="border: 0;">Code:</label>
        </div>
        <div class="col-4">
            <select class="form-control">
                @foreach (Product product in products)
                {
                    <option value="@product.Id">@(product.Description+"/"+product.Id)</option>
                }
            </select>
        </div>
        <div class="col-1">
            <button type="button" id="forecast" class="btn btn-primary font-weight-bold">Forecast</button>
        </div>
    </div>
</div>

@*Code <select>
    @foreach (Product product in products)
    {
        <option value="@product.Id">@(product.Description+"/"+product.Id)</option>
    }
</select>
<button type="button" id="forecast">Forecast</button>*@

<div class="container" style="margin-top: 20px;">
    <table class="table table-striped">
        <tr>
            <th>Month</th>
            <th>Forecast</th>
        </tr>
    </table>
</div>

<div class="container" style="margin-top: 20px;">

    <img id="forecast" />
</div>

<script src="~/js/Forecast.js"></script>
