@{
    ViewData["Title"] = "Home Page";
    string errmsg = (string)ViewData["errmsg"];
}

<form action="/Login/Verify" method="post" onsubmit="return validate()">
    <div class="container">
        <div class="row">
            <div class="col-6" style="margin-top:100px;">
                <img src="~/images/ssis_logo.png" />
            </div>
            <div class="col-6" style="margin-top:100px;">
                <h2 style="text-align:center">Sign in here</h2>
                <span id="errmsg" style="color:red">@errmsg</span><br />
                <input type="text" name="email" class="form-control" placeholder="Email" /><br />
                <input type="password" name="plainPassword" class="form-control" placeholder="Password" /><br />
                <input type="hidden" name="password" id="password" /><br />
                <button id="loginBtn" class=" form-control btn btn-dark font-weight-bold">Sign in</button><br />
            </div>
        </div>
    </div>
</form>

<script src="~/js/login.js"></script>
<script src="~/js/testToken.js"></script>