@{
    ViewData["Title"] = "Privacy Policy";
    string role = (string)ViewData["Role"];
    string name = (string)ViewData["Name"];
}
<h1>@ViewData["Title"]</h1>

<p>Login Successfully</p>
<h4>@role</h4>
<h3>@name</h3>
<button id="withToken">request with token</button>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/testToken.js"></script>